<html>
  <head>
    <script src="data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="keyboard.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="keyboard.css">
  </head>
  <body>
    <div id="app">
      <shortcuts></shortcuts>
    </div>
    <script defer>
      const transformedData=Object.keys(data).reduce((accum,cat)=>[
          ...accum,
          ...Object.keys(data[cat]).reduce((sofAccum,sof)=>[
            ...sofAccum,
            ...data[cat][sof].map((hotkey)=>({
              combo:Object.keys(hotkey)[0],
              desc:Object.values(hotkey)[0],
              cat,
              sof
            }))
          ],[])
        ],[])
console.log(transformedData)
      Vue.component('shortcuts',{
        data:function() {
          return {
            all:data,
            transformed:transformedData,
            selectedCategories:Object.keys(data),
            selectedSoftware:[],
            selectedModifiers:[],
            keys,
            allModifiers:['Alt','Control','Fn','Meta','Shift']
          }
        },
        computed:{
          categories() {
            return Object.keys(this.all)
          },
          software() {
            return Array.from(new Set(this.selectedCategories
              .reduce((accum,curr)=>[
                ...accum,
                ...Object.keys(this.all[curr]).map(key=>key.trim())
              ],[])))
          },
          freeCombos() {
            return transformedData
              .filter(k=>this.selectedCategories.includes(k.cat))
              .filter(k=>this.selectedSoftware.includes(k.sof))
              .filter(k=>this.selectedModifiers.every(mod=>k.combo.includes(mod)))
          },
          freeKeys() {
            return Array.from(new Set(this.freeCombos.reduce(
              (accum,curr)=>[...accum,...curr.combo.split(/(?<!')\+/)],[]
            )))
          }
        },
        methods:{
          getCatSelectId(cat) {
            return `catSelect-`+cat.replace(/\s/g,'-').toLowerCase()
          },
          updateSelectedCats(e) {
            console.log(e)
            const selected=new Set(this.selectedCategories)
            if(e.target.value) {
              selected.add(e.target.value)
            }
          }
        },
        template:/*html*/`
        <div>
          <header>
            <h3>Context</h3>
            <p>Feel free to deselect any contexts which you think are irrelevant so their associated keyboard shortcuts are ignored</p>
          </header>
          <div class="options" v-for="cat in categories">
            <label :for="getCatSelectId(cat)">{{cat}}</label>
            <input :id="getCatSelectId(cat)" name="selectedCats" :value="cat" type="checkbox" v-model="selectedCategories">
          </div>
          <header v-if="software.length> 0">
            <h3>Software</h3>
            <p>Select the relevant software in which your keyboard shorcuts will be used</p>
          </header>
          
          <div class="options" v-for="sof in software">
            <label :for="getCatSelectId(sof)">{{sof}}</label>
            <input :id="getCatSelectId(sof)" name="selectedSofs" :value="sof" type="checkbox" v-model="selectedSoftware">
          </div>
          <header v-if="selectedSoftware.length> 0">
            <h3>Modifiers</h3>
            <p>Select the relevant key modifiers</p>
          </header>
          
          <div  v-if="selectedSoftware.length> 0" class="options" v-for="mod in allModifiers">
            <label :for="getCatSelectId(mod)">{{mod}}</label>
            <input :id="getCatSelectId(mod)" name="selectedMods" :value="mod" type="checkbox" v-model="selectedModifiers">
          </div>

          <div v-if="freeCombos.length > 0" class="innerScroll">
            <div v-for="combo in freeCombos">
              <strong>{{combo.combo}}</strong>
              <span class="desc">{{combo.desc}}</span>
            </div>
          </div>
          <keyboard :keys="freeKeys"></keyboard>
          
        </div>
        `
      })
      const app=new Vue({
        el:'#app'
      })
    </script>
  </body>
 
</html>