.options {
  float:left;
  width:10rem;
  border:1px solid black;
}
header {
  display:block;
  clear:both;
}
.innerScroll {
  width:100%;
  height:200px;
  display:flex;
  flex-direction: row;
  scroll-behavior:auto;
  overflow:scroll;
  flex-wrap:wrap;
}
.innerScroll div {
  width: 15em;
  height:5em;
overflow: hidden;
}